gunicorn~=21.2.0
gevent~=23.9.1
flask~=3.0.1
flask-restful~=0.3.0
flask-login~=0.6.3
flask-migrate~=4.0.5
Flask-SQLAlchemy~=3.0.5
SQLAlchemy~=1.4.28
python-dotenv==1.0.0
celery~=5.3.6
redis[hiredis]~=5.0.3
python-dotenv==1.0.0
blinker
ulid==1.1.0
pyjwt~=2.8.0
werkzeug~=3.0.1
pycryptodome==3.19.1
click~=8.1.0
apscheduler==3.10.4
psycopg2-binary~=2.9.6
requests
pypinyin
pydantic
validator-collection
python-dateutil
# python-magic
Flask-Limiter[redis]
pika